html,button{
    font-family: 'Roboto',sans-serif;
    background-color: rgb(27, 27, 27);
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 89px;
    color: white;
}

h2{
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
}

h3{
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

h4{
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

h5{
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

header{
    width: 100%;
    height: 960px;
    background-image: url(../resources/main-screen__bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 190px;
}

nav img{
    margin-right: 522px;
    width: 40px;
    height: 40px;
}

.nav_panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_panel a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: white;

    margin-right: 56px;
}

.nav_panel a:last-child{
    margin-right: 270px;
}

nav button{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
}

.container{
    margin-left: 312px;
}



.time_to_start{
    margin-top: 50px;
    display: flex;
    margin-bottom: 218px;
}

.time_counter{
    margin-right: 30px;
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.time_counter p{
    line-height: 22px;
    opacity: 0.4;
}

.header_bottom_panel{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.header_bottom_panel p{
    opacity: 0.4;
}

.header_bottom_panel button{
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;  
    margin-right: 81px; 
}

.info_about_students{
    margin-right: 81px;
}

.total_students{
    display: flex;
}

.total_students p{
    margin-right: 101px;
}

.students_ends_course{
    display: flex;
}

.students_ends_course p{
    margin-right: 30px;
}

.info_about_earn{
    display: flex;
}

.info_about_earn p{
    margin-right: 30px;
    margin-bottom: 7px;
}

.graph_line{
    display: flex;
    height: 6px;
}

.progressive_line{
    width: 440px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.empty_line{
    width: 274px;
    background-color: white;
}

.graph_text{
    margin-top: 10px;
    display: flex;
}

.graph_text p:first-child{
    margin-right: 623px;
}

.about_us{
    display: flex;
    margin-bottom: 200px;
}

.about_us img{
    margin-right: 134px;
}

.about_us h2{
    margin-bottom: 45px;
}

.about_us p{
    width: 636px;
}


.fast_start_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fast_start_header img{
    margin-right: 20px;
}

.fast_start p{
    width: 411px;
    opacity: 0.5;
    margin-bottom: 80px;
}

.fast_start_graphic_header{
    display: flex;
    margin-bottom: 20px;
}
.fast_start_graphic_header h3:first-child{
    margin-right: 235px;
}

.fast_start_graphic_header h3{
    margin-right: 256px;
}

.fast_start_graphic_line{
    display: flex;
    align-items: center;
}
.fast_start_graphic_line_item{
    width: 324px;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    margin-bottom: 35px;
}

.fast_start_graphic_line_item:nth-child(2){
    transform: matrix(-1, 0, 0, 1, 0, 0);
    height: 60px;
}
.fast_start_graphic_line_item:nth-child(3){
    height: 30px;
}
.fast_start_graphic_line_item:nth-child(4){
    transform: matrix(-1, 0, 0, 1, 0, 0);
    height: 10px;
}

.fast_start_graphic_description{
    display: flex;
}

.fast_start_graphic_description p{
    width: 306px;
    margin-right: 18px;
}



